.footerSection {
    .footerTop {
        padding: 20px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
        border-bottom: 1px solid #EDEDED;

        .logo {
            max-width: 272px;
            width: 100%;
        }

        .subscribe {
            display: flex;
            max-width: 565px;
            width: calc(100% - 272px);
            align-items: center;
            gap: 20px;
            justify-content: flex-end;

            .head {
                color: var(--Black, #131313);
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 157px;
                font-family: "manrope";

                span {
                    color: #FFB300;
                    font-weight: 600;
                }
            }


            .input {
                position: relative;
                width: calc(100% - 177px);

                input {
                    border-radius: 60px;
                    border: 1.5px solid #E7E7E7;
                    display: flex;
                    width: 100%;
                    padding: 13px 55px 13px 15px;
                    justify-content: space-between;
                    align-items: center;

                    &::placeholder {
                        color: #B9B9B9;
                        font-family: Manrope;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

            .submit {
                position: absolute;
                right: 8px;
                top: 50%;
                min-width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-50%);
                background-color: #FFB300;
            }
        }

    }

    .footerMiddle {
        display: flex;
        padding: 40px 0;

        .leftSection {
            width: 50%;
            display: flex;

            .menu {
                width: 40%;
            }
        }

        .rightSection {
            width: 50%;

            .getThe {
                border-radius: 10px;
                background: #FFF2F3;
                display: flex;

                .text {
                    padding: 30px 20px 30px 30px;
                    width: 60%;

                    h6 {
                        font-weight: 500;
                        margin-bottom: 15px;

                        span {
                            font-weight: 800;
                            color: #f00;
                        }
                    }

                    .app {
                        display: flex;

                        a+a {
                            margin-left: 10px;
                        }
                    }
                }

                .image {
                    display: flex;
                    width: 40%;
                    padding: 0 10px;
                }
            }

        }

    }

    .footerBottom {
        padding: 40px 0;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        display: flex;
        flex-wrap: wrap;
        row-gap: 35px;

        .menu {
            width: 20%;
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 15px;

        .copy {
            color: #6B6B6B;
            font-family: "Manrope";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }



        .socialIcons {
            display: flex;
            gap: 8px;

            a {
                height: 32px;
                width: 32px;
                border: 1px solid #E7E7E7;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                transition: ease .5s;

                &:hover {
                    color: #f00;
                    border-color: #f00;
                    transition: ease .5s;
                }
            }
        }
    }

    .menu {

        h6 {
            position: relative;
            margin-bottom: 25px;

            &::before {
                content: "";
                width: 32px;
                height: 2px;
                border-bottom: 2px solid #FFB300;
                position: absolute;
                left: 0;
                bottom: -5px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            a {
                color: var(--Black, #131313);
                font-family: "Manrope";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 7px 10px 7px 0;
                transition: ease .4s;

                &:hover {
                    color: #FFB300;
                    font-weight: 500;
                    transition: ease .5s;
                }
            }
        }


    }

}


.firstAdModal {
    .modal-content {
        padding: 0;
    }

    .modal-dialog {
        width: max-content;
    }

    .modal-content .modal-body {
        padding: 0;
    }

    .close {
        position: absolute;
        top: -20px;
        right: 0;
        width: max-content;
        cursor: pointer;
        color: #FFF;
        font-family: "Manrope";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
    }

    .closeIcon {
        margin-left: 3px;
        width: 14px;
        height: 14px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width:1200px) {
    .footerSection .footerMiddle .rightSection .getThe .text h6 {
        font-size: 15px;
    }
}

@media screen and (max-width:992px) {
    .footerSection {

        .footerTop {
            padding: 10px 0 20px;
            gap: 40px;

            .logo {
                max-width: 190px;
            }

            .subscribe {
                width: 410px;

                .head {
                    font-size: 16px;
                    width: 130px;
                }

                .input {
                    width: calc(100% - 150px);
                }
            }
        }


        .footerMiddle .rightSection .getThe .text {
            padding: 20px 10px 20px 20px;
        }

        .footerBottom .menu {
            width: 25%;
        }

    }

}

@media screen and (max-width:768px) {


    .footerSection {

        .footerMiddle {
            padding: 25px 0;
            flex-wrap: wrap;
            row-gap: 30px;

            .leftSection {
                width: 100%;
            }

            .rightSection {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
            }
        }

        .copyright .copy {
            font-size: 14px;
        }

    }
}

@media screen and (max-width:640px) {
    .dotFrame {
        margin: 15px 0;
    }

    .footerSection {

        .footerTop .subscribe {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            align-items: flex-end;
            gap: 6px;

            .head {
                width: 210px;
            }

            .input {
                width: 100%;
                max-width: 300px;
            }

            .input input {
                padding: 10px 55px 10px 15px;

                &::placeholder {
                    font-size: 14px;
                }
            }

            .submit {
                min-width: 30px;
                height: 30px;
            }
        }

        .footerBottom {
            padding: 20px 0;
            row-gap: 25px;

            .menu {
                width: 33.33%;
            }
        }

        .menu {
            h6 {
                font-size: 16px;
                margin-bottom: 15px;
            }

            ul a {
                font-size: 14px;
            }
        }

        .copyright {
            display: flex;
            flex-direction: column-reverse;
            padding: 15px 0;
            row-gap: 10px;

            .copy {
                font-size: 12px;
                text-align: center;
            }
        }



    }

}

@media screen and (max-width:480px) {
    .footerSection .footerTop {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .subscribe {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    .footerSection .footerMiddle .leftSection .menu {
        width: 50%;
    }

    .footerSection .footerBottom .menu {
        width: 50%;
    }

}

@media screen and (max-width:359px) {
    .footerSection {

        .footerMiddle {
            .rightSection .getThe .text {
                width: 100%;
            }

            .rightSection .getThe .image {
                display: none;
            }
        }

    }

}