.headerAddSection {
    padding: 30px 0 20px;
    display: flex;
    justify-content: center;
}

header {

    .header {
        background: #f00;

        .mainHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0;

            .socialIcons {
                width: 50%;
                display: flex;
                gap: 10px;

                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: #ffffff66;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    color: #fff;

                    &:hover {
                        color: #f00;
                        background-color: #fff;
                    }
                }
            }

            .logo {
                max-width: 431px;
                width: 100%;
            }

            .date {
                color: #FFF;
                font-family: "Manrope";
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                gap: 20px;
                display: flex;
                margin-right: 15px;

                span {
                    position: relative;

                    &:first-child:before {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 18px;
                        border-right: 1px solid #fff;
                        right: -10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            .signIn {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;

                .signBtn {
                    padding: 8px 12px;
                    border-radius: 30px;
                    background: #FFB300;
                    display: flex;
                    align-items: center;
                    color: #543B00;
                    font-family: Manrope;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 13px;

                    .icon {
                        margin-right: 4px;
                    }

                    &:hover {
                        background-color: #fff;
                    }

                    &:hover {
                        .accountPop {
                            display: block;
                            position: absolute;
                            z-index: 3;
                            border-radius: 10px;
                            background: #FFF;
                            box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.13);
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: max-content;
                            top: 40px;
                            right: 0;
                        }
                    }

                    .accountPop {
                        display: none;

                        &::before {
                            content: "";
                            position: absolute;
                            right: 10px;
                            top: -11px;
                            background-image: url(../images/icons/triangle.png);
                            width: 15px;
                            height: 11px;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            right: 10px;
                            top: -11px;
                            width: 100%;
                            height: 11px;
                        }

                        .image {
                            width: 41px;
                            height: 41px;
                            border-radius: 50%;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .name {
                            color: var(--Black, #131313);
                            font-family: Manrope;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: normal;
                            margin: 8px 0 5px;
                        }

                        .ph {
                            color: var(--Black, #131313);
                            font-family: Manrope;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin-bottom: 10px;
                        }

                        button.logout {
                            border-radius: 30px;
                            background: rgba(224, 224, 224, 0.60);
                            min-width: auto;
                            padding: 6.5px 12px;
                            display: flex;
                            align-items: center;
                            color: var(--Black, #131313);
                            font-family: Manrope;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            gap: 4px;

                            &:hover {
                                background-color: #FFB300;
                            }
                        }
                    }
                }
            }



        }
    }

    .menuSection {
        border-bottom: 4px solid #FFB300;
        background: #fff;
        z-index: 2;
        position: relative;

        .container {
            position: relative;
        }

        .logoIcon {
            position: absolute;
            top: 10px;
            left: -15px;

            @media screen and (min-width:1366px) {
                left: 50px;
            }
            @media screen and (max-width:768px) {
                display: none !important;
            }
        }

        .content {
            display: flex;
            align-items: center;
        }

        .menus {
            display: flex;
            width: calc(100% - 313px);
            overflow-x: auto;
            list-style: none;
            padding: 0;
            margin: 0;

            &::-webkit-scrollbar {
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
            }

            &::-webkit-scrollbar-thumb {
                height: 5px;
                border-radius: 20px;
                background-color: #d9d9d9;
            }
        }

        .menu {
            color: #131313;
            font-family: "Manrope";
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            padding: 9px 12px;
            border-left: 1px solid #E4E4E4;
            min-width: max-content;
            cursor: pointer;

            &:hover {
                color: #f00;
            }

            &.show {
                .text {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 17px;
                        background-image: url(../images/icons/triangle.png);
                        width: 15px;
                        height: 11px;
                    }
                }

                .dropMenu {
                    display: flex;
                }
            }
        }

        .rightMenus {
            display: flex;
            align-items: center;
            width: 313px;
            border-left: 1px solid #E4E4E4;

            .more {
                border-right: 1px solid #E4E4E4;
                padding-right: 15px;
                border-left: none;

                .icon {
                    width: 14px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
            }


            .live {
                border-radius: 30px;
                background: var(--Primary, #F00);
                padding: 4px 8px;
                display: flex;
                align-items: center;
                margin: 0 12px;

                .icon {
                    width: 18px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 2.5px;
                }

                span {
                    color: #FFF;
                    font-family: "Manrope";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 13px;
                    text-transform: uppercase;
                }
            }

            .search {
                border-left: 1px solid #E4E4E4;
                padding-left: 32px;
                min-height: 37px;
                display: flex;
                align-items: center;

                .searchIn {
                    display: flex;
                    align-items: center;
                    color: var(--Black, #131313);
                    font-family: "Manrope";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 13px;
                    border-radius: 30px;
                    background: rgba(224, 224, 224, 0.60);
                    padding: 7px 12px;
                    cursor: pointer;
                }

                span.icon {
                    width: 14px;
                    margin-left: 9px;
                }
            }

        }


        .dropMenu {
            display: none;
            position: absolute;
            left: 0;
            top: 41px;
            background: #fff;
            width: 100%;
            padding: 11px 0px;
            box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.13);
            z-index: 2;

            ul.listMenu {
                display: flex;
                list-style: none;
                padding: 0;
                gap: 20px;
                flex-wrap: wrap;
                width: 100%;

                li {
                    width: 25%;


                    // &:nth-child(1),
                    // &:nth-child(2),
                    // &:nth-child(3) {
                    //     display: none;
                    // }
                }

                .mMenu {
                    padding: 10px 40px 10px 26px;
                    position: relative;
                    color: #131313;
                    font-family: "Manrope";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    text-transform: uppercase;

                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url(../images/icons/diamonds.png);
                        left: 0;
                        top: 10px;
                        width: 20px;
                        height: 20px;
                        background-size: cover;
                    }
                }

            }

            ul.subMenu {
                width: 480px;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;
                border-right: 1px solid #E4E4E4;
                margin: 0;

                li {
                    width: 50%;
                }

                a {
                    padding: 5px 0 5px 20px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background-color: #131313;
                        left: 1px;
                        top: 11px;
                        transform: rotate(45deg);

                    }
                }
            }

            .news {
                display: flex;
                width: calc(100% - 480px);
                padding-left: 60px;
                gap: 50px;
                padding-top: 9px;
                flex-wrap: wrap;

                .smallNewsBox {
                    width: calc(50% - 25px);
                    position: relative;

                    &:nth-child(odd)::before {
                        content: "";
                        position: absolute;
                        right: -25px;
                        width: 1px;
                        height: 72px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-right: 1px solid #E4E4E4;
                    }
                }
            }

            .content {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
        }

        .searchArea {
            display: none;

            &.show {
                display: block;
                position: absolute;
                left: 0;
                top: 41px;
                background: #fff;
                width: 100%;
                padding: 7px 0px;
                box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.13);
            }

            .searchContent {
                position: relative;
            }

            .searchIcon {
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
            }

            .close {
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }

            input[type="search"] {
                border: none;
                padding-left: 38px;
                padding-right: 30px;
            }
        }

    }

}



@media screen and (max-width:1200px) {
    header {
        .header .mainHeader {
            .date {
                justify-content: center;
                margin: 5px 0 0;
                font-size: 12px;
            }

            .socialIcons {
                gap: 5px;

                a {
                    width: 26px;
                    height: 26px;
                }
            }
        }

        .menuSection .dropMenu .news {
            padding-left: 15px;
            gap: 30px;

            .smallNewsBox:nth-child(odd)::before {
                right: -15px;
            }
        }

    }
}

@media screen and (max-width:992px) {
    header {


        .menuSection {
            .menus {
                width: calc(100% - 212px);
            }

            .rightMenus {
                width: 212px;

                .more {
                    display: none;
                }

                .search {
                    padding-left: 15px;
                }

            }
        }
    }

}

@media screen and (max-width:768px) {

    .headerAddSection {
        padding: 15px 0 10px;
    }

    header .header .mainHeader .logo {
        max-width: 270px;
    }
}

@media screen and (max-width:640px) {
    header .header .mainHeader .socialIcons {
        display: none;
    }
}

@media screen and (max-width:480px) {
    header .header .mainHeader {
        .signIn .signBtn {
            width: 32px;
            padding: 8px;
            height: 32px;
            justify-content: center;

            span:nth-child(2) {
                display: none;
            }

            .icon {
                margin-right: 0;
            }
        }

        .logo {
            width: 200px;
        }
    }

    header .menuSection {
        .rightMenus {

            width: 100px;

            .search {
                padding-left: 10px;

                .searchIn span:first-child {
                    display: none;
                }

                span.icon {
                    margin: 0;
                }

                .searchIn {
                    width: 40px;
                    height: 30px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }

            .live {
                margin: 0 7px;

                span:last-child {
                    display: none;
                }
            }
        }

        .menus {
            width: calc(100% - 100px);
        }


    }


}