section.bannerSection {
    background-image: url(../images/vector.png);
    background-size: cover;
    background-position: bottom right;
    position: relative;

    a.logo {
        width: 88px;
        padding: 28px 0;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        margin-top: 24px;

        .detail {
            width: 50%;
            max-width: 420px;

            h1 {
                color: #fff;
                margin-bottom: 24px;
            }

            p {
                color: #ffffffb3;
            }

            .primaryBtn {
                margin-top: 32px;
            }
        }

        .image {
            width: 50%;
            text-align: center;
            position: relative;
            img{
                object-fit: cover;
                aspect-ratio: 329/454;
            }

            .swiper-container.swiper-container-horizontal {
                margin-bottom: 32px;
            }

            .swiper-pagination.swiper-pagination-bullets {
                left: 50%;
                display: flex;
                transform: translateX(-50%);
                gap: 12px;

                .swiper-pagination-bullet {
                    background: #FFFFFF;
                }
            }
        }

    }

    .wrapper {
        position: relative;
        padding-bottom: 203px;
    }

    .dot {
        position: absolute;
        z-index: -1;
        bottom: -60px;
        left: 0;
    }
}

section.contactSection {
    padding: 160px 0 204px;

    .content {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 5px 17px #03062f1f;
        padding: 64px;
        border-radius: 8px;
    }

    .title {
        text-align: center;
        margin-bottom: 48px;
    }
}

@media screen and (max-width:768px) {
    section.bannerSection {
        .content {
            display: flex;
            flex-wrap: wrap;

            .detail {
                width: 100%;
                max-width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1 {
                    margin-bottom: 10px;
                }

                .primaryBtn {
                    margin-top: 18px;
                }

            }

            .image {
                width: 100%;
            }
        }

        .wrapper {
            padding-bottom: 100px;
        }
    }

    section.contactSection {
        padding: 100px 0 80px;

        .content {
            padding: 40px 30px;
        }

        .title {
            margin-bottom: 20px;
        }
    }

}