* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: #F1F5F9;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: rgba(3, 6, 47, 0.7019607843);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-family: "Inter", sans-serif;
  position: relative;
  color: #131313;
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  line-height: 53px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 26px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  color: #131313;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

hr {
  margin: 20px 0px 25px;
  border: 0px;
  border-bottom: 1px solid #e6e6e6;
  opacity: 1;
}

p {
  color: rgba(3, 6, 47, 0.7019607843);
}

span {
  display: inline-block;
}

span,
p,
a {
  word-break: break-word;
}

p,
ul,
ol {
  margin: 0px;
  padding: 0px;
}

ul *,
ol * {
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  padding-left: 25px;
}

ul {
  display: block;
}

a img {
  border: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

p,
ul,
ol {
  margin-bottom: 5px;
}

.clr {
  display: block;
  float: none;
  clear: both;
}

.c {
  overflow: hidden;
  float: none;
}

.underline {
  text-decoration: underline;
}

a {
  text-decoration: none;
  display: inline-block;
}

.hidden,
.hide {
  display: none !important;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=email],
input[type=password],
input[type=number],
select,
textarea,
input[type=date],
input[type=time],
input[type=search] {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  border-radius: 4px;
  font-size: 16px;
  padding: 12px;
  color: #505050;
  resize: vertical;
  width: 100%;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: "Inter", sans-serif;
  line-height: 140%;
}

textarea {
  width: 100%;
  min-height: 180px;
}

select {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 45px 12px 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/angle-down.svg);
  background-repeat: no-repeat;
  background-position: 97.5%;
  background-size: 12px;
  width: 100%;
}

input[type=button],
input[type=submit],
input[type=reset],
.primaryBtn,
button {
  border: 1px solid #2783F3;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: poInter;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  position: relative;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  background-position: center;
  width: 100%;
  color: #FFF;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 12px 20px;
  background: #2783F3;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transition: ease 0.5s;
  border-radius: 4px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.btn:hover,
.primaryBtn:hover,
.btn:focus,
button:hover {
  background-color: #fff;
  outline: none;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  color: #2783F3;
  border-color: #2783F3;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #505050;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 157.143% */
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #505050;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 157.143% */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #505050;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 157.143% */
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #505050;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 157.143% */
}

input::placeholder,
textarea::placeholder {
  color: #505050;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 157.143% */
}

button:focus {
  outline: none;
}

label {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
  color: #03062F;
}

.form-control {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  height: auto;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a {
  color: #000;
  cursor: poInter;
  transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
}

a:not([href]):not([tabindex]) {
  color: #000;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #F00;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:hover {
  color: #F00;
}

.cfx::after {
  clear: both;
  content: "+";
  display: block;
  height: 0;
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-flex-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type=button] .icon,
input[type=submit] .icon,
input[type=reset] .icon,
.primaryBtn .icon,
button .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
input[type=button].whiteBtn,
input[type=submit].whiteBtn,
input[type=reset].whiteBtn,
.primaryBtn.whiteBtn,
button.whiteBtn {
  background: #FFF;
  color: #000;
}

.twoField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  width: 100%;
}
.twoField .field {
  width: calc(50% - 12px);
}

.field {
  margin-bottom: 15px;
  width: 100%;
}
.field .label {
  margin-bottom: 10px;
  color: #000;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1400px;
    padding: 0 180px;
  }
}
@media screen and (max-width: 992px) {
  input[type=date],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  select,
  textarea {
    font-size: 14px;
  }
  .modal .modal-dialog.modal-dialog-centered {
    max-width: 90%;
    margin: 0 auto;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 0px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 0px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 40px;
    max-width: 768px;
  }
  body,
  p {
    font-size: 14px;
    line-height: 20px;
  }
  .twoField {
    gap: 10px;
  }
  .primaryBtn,
  button,
  input[type=button],
  input[type=reset],
  input[type=submit] {
    font-size: 14px;
    padding: 10px;
  }
  input[type=date],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  select,
  textarea {
    padding: 10px 15px;
    font-size: 12px;
  }
  input[type=date]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, input[type=time]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 12px;
  }
  input[type=date]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=text]::-moz-placeholder, input[type=time]::-moz-placeholder, input[type=url]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 12px;
  }
  input[type=date]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder, input[type=time]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 12px;
  }
  input[type=date]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=number]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder, input[type=tel]::-ms-input-placeholder, input[type=text]::-ms-input-placeholder, input[type=time]::-ms-input-placeholder, input[type=url]::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 12px;
  }
  input[type=date]::placeholder,
  input[type=email]::placeholder,
  input[type=number]::placeholder,
  input[type=password]::placeholder,
  input[type=tel]::placeholder,
  input[type=text]::placeholder,
  input[type=time]::placeholder,
  input[type=url]::placeholder,
  select::placeholder,
  textarea::placeholder {
    font-size: 12px;
  }
  .container {
    padding: 0 16px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
  .owl-carousel .owl-nav button.owl-prev span,
  .owl-carousel .owl-nav button.owl-next span {
    width: 38px;
    height: 38px;
  }
  .owl-prev::before,
  .owl-next::before {
    width: 7px;
    height: 5px;
  }
  label {
    font-size: 12px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 26px;
    line-height: 38px;
  }
  h2 {
    font-size: 20px;
    line-height: 30px;
  }
  h3 {
    font-size: 18px;
    line-height: 28px;
  }
  h4 {
    font-size: 16px;
    line-height: 24px;
  }
  h5 {
    font-size: 12px;
    line-height: 18px;
  }
  h6 {
    font-size: 18px;
  }
}
section.bannerSection {
  background-image: url(../images/vector.png);
  background-size: cover;
  background-position: bottom right;
  position: relative;
}
section.bannerSection a.logo {
  width: 88px;
  padding: 28px 0;
}
section.bannerSection .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  margin-top: 24px;
}
section.bannerSection .content .detail {
  width: 50%;
  max-width: 420px;
}
section.bannerSection .content .detail h1 {
  color: #fff;
  margin-bottom: 24px;
}
section.bannerSection .content .detail p {
  color: rgba(255, 255, 255, 0.7019607843);
}
section.bannerSection .content .detail .primaryBtn {
  margin-top: 32px;
}
section.bannerSection .content .image {
  width: 50%;
  text-align: center;
  position: relative;
}
section.bannerSection .content .image img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 329/454;
}
section.bannerSection .content .image .swiper-container.swiper-container-horizontal {
  margin-bottom: 32px;
}
section.bannerSection .content .image .swiper-pagination.swiper-pagination-bullets {
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  gap: 12px;
}
section.bannerSection .content .image .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #FFFFFF;
}
section.bannerSection .wrapper {
  position: relative;
  padding-bottom: 203px;
}
section.bannerSection .dot {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  left: 0;
}

section.contactSection {
  padding: 160px 0 204px;
}
section.contactSection .content {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0 5px 17px rgba(3, 6, 47, 0.1215686275);
          box-shadow: 0 5px 17px rgba(3, 6, 47, 0.1215686275);
  padding: 64px;
  border-radius: 8px;
}
section.contactSection .title {
  text-align: center;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  section.bannerSection .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.bannerSection .content .detail {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.bannerSection .content .detail h1 {
    margin-bottom: 10px;
  }
  section.bannerSection .content .detail .primaryBtn {
    margin-top: 18px;
  }
  section.bannerSection .content .image {
    width: 100%;
  }
  section.bannerSection .wrapper {
    padding-bottom: 100px;
  }
  section.contactSection {
    padding: 100px 0 80px;
  }
  section.contactSection .content {
    padding: 40px 30px;
  }
  section.contactSection .title {
    margin-bottom: 20px;
  }
}